/* CSS files add styling rules to your content */

/* Palette

light blue: #52E2EF
magenta: #FF367C
navy blue: #423555
darker navy blue: #312840
light gray: #F2F2F2
white: #FFFFFF

*/

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");
/*
font-family: 'Montserrat', sans-serif;
*/

* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

body {
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.background {
  width: 100%;
  background-image: url("https://cdn.glitch.com/91942178-97c0-4cd1-9504-ebdf2c2f2537%2Fphone-tRight.svg?v=1584371750591"),
    url("https://cdn.glitch.com/91942178-97c0-4cd1-9504-ebdf2c2f2537%2Fphone-tLeft.svg?v=1584371750467"),
    url("https://cdn.glitch.com/91942178-97c0-4cd1-9504-ebdf2c2f2537%2Fphone-bLeft.svg?v=1584371750643"),
    url("https://cdn.glitch.com/91942178-97c0-4cd1-9504-ebdf2c2f2537%2Fphone-bRight.svg?v=1584371750729");
  background-repeat: no-repeat;
  background-position: 100% -27%, 0% 0%, -30% 122%, 130% 115%;
  background-size: 120%, 50%, 35%, 40%;
  background-attachment: fixed;
  height: 100%;
  position: absolute;
}

.splash {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

button {
  border: none;
  background-color: #FF367C;
  color: #FFFFFF;
  border-radius: 20px;
  font-weight: bold;
  padding: 10px 10px;
  box-shadow: rgba(255, 54, 124, 0.3) 0px 5px 7px;
  cursor: pointer;
  width: 40%;
  left: 30%;
  position: relative;
  font-size: 80%;
}

#textBtn {
  
}

button:focus {
  outline: none;
}

button:active {
  background-color: #312840;
}

h1 {
  font-size: 1.7em;
  text-align: center;

}

h6 {
  font-size: 0.9em;
  text-align: center;
}

#bText {
  display: none;
  padding :5%;
}

#messages {
  text-align: center;

}

#title{
}

#messages ul {
  padding: 0;
}

#messages li {
  text-decoration: none;
  margin-bottom: 10%;
  list-style-type: none;
  padding-right: 0;
  flex-basis: 10%;
}

#messages a:hover {
  color: #FF367C;
  transition: 0.2s;
}

#messages a {
  color: #000000;
}

/*.messages a[href="#"]:hover{
  color:#423555;
}*/


a {
  cursor: pointer;
  text-decoration: none;
  color: #000000;
}

a:active {
  color: #423555;
}

#personalMessage {
  padding:0;
  margin:0;
}

#backBtn{
  display: none;
}

.caption {
  font-size: 0.75rem;
  color: rgba(0, 0, 0, 0.5);
}

#bImg {
  height:25%;
}

#divBody{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  text-align: center;
  flex-wrap: wrap;
}

#namesList {
   display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: space-between;
  text-align: center;
  flex-wrap: wrap;
  
}